<div class="container">

  @if (loading) {
    @if (loading) {
      <div class="loading-card">
        <div class="spinner"></div>
        <p>Loading post details...</p>
      </div>
    }
  }

  @if (!loading && post) {

    <div class="card detail-card">

      @if (post.image) {
        <img [src]="post.image" class="detail-image">
      }

      <h2>{{ post.title }}</h2>

      <p>{{ post.description }}</p>

      <p><b>Location:</b> {{ post.building_name }} - {{ post.location_name }}</p>
      <p><b>User:</b> {{ post.username }}</p>
      <p><b>Date:</b> {{ post.date_event }}</p>

      <div class="actions">

        @if (post.status !== 'resolved') {
          <button class="claim-btn" (click)="claimItem()">
            Claim this item
          </button>
        }

        @if (isOwner() && post.status !== 'resolved') {
          <button class="resolve-btn" (click)="markResolved()">
            Mark Resolved
          </button>
        }

        @if (isOwner()) {
          <button class="delete-btn" (click)="deletePost()">
            Delete
          </button>
        }

      </div>

    </div>

    <div class="comments">

      <h3>Comments</h3>

      <textarea [(ngModel)]="newComment"></textarea>
      <button (click)="addComment()">Add Comment</button>

      @for (comment of comments; track comment.id) {
        <div class="comment">
          <b>{{ comment.username }}</b>
          <p>{{ comment.message }}</p>
        </div>
      }

    </div>

  }

</div>
