<div class="container">

  @if (loading) {
    <div class="card detail-card">
      <p>Loading post details...</p>
    </div>
  }

  @if (!loading && post) {
    <div class="card detail-card">

      @if (post.image) {
        <img [src]="post.image" alt="Item photo" class="detail-image" />
      }

      <div class="header">
        <h2>{{ post.title }}</h2>

        <div class="badges">
          <span class="badge {{ post.item_type }}">
            {{ post.item_type }}
          </span>

          <span class="badge {{ post.status }}">
            {{ post.status }}
          </span>
        </div>
      </div>

      <p class="description">
        {{ post.description }}
      </p>

      <div class="info-grid">
        <p> <b>{{ post.building_name }}</b> - {{ post.location_name }}</p>
        <p> {{ post.username }}</p>
        <p> {{ post.date_event }}</p>
        <p>📞 {{ post.contact_info }}</p>
      </div>

      @if (post.latitude != null && post.longitude != null) {
        <div class="coords">
           Exact location: {{ post.latitude }}, {{ post.longitude }}
        </div>
      }

      <div class="actions">

        @if (isOwner() && post.status !== 'resolved') {
          <button class="resolve-btn" (click)="markResolved()">
            Mark Resolved
          </button>
        }

        @if (isOwner()) {
          <button class="delete-btn" (click)="deletePost()">
            Delete
          </button>
        }

      </div>

    </div>

    <div class="card comments">

      <h3>Comments</h3>

      @if (authService.isLoggedIn()) {
        <textarea [(ngModel)]="newComment" placeholder="Write a comment..."></textarea>
        <button (click)="addComment()">Add Comment</button>
      }

      @for (comment of comments; track comment.id) {
        <div class="comment-card">
          <p class="comment-user">{{ comment.username }}</p>
          <p>{{ comment.message }}</p>
        </div>
      }

      @if (!comments.length) {
        <p class="empty">No comments yet.</p>
      }

    </div>
  }

  @if (!loading && errorMessage) {
    <p class="error">{{ errorMessage }}</p>
  }

</div>
