body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f7fb;
  color: #1f2937;
}

/* контейнер */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* кнопки */
button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #2563eb;
  color: white;
  transition: 0.2s;
}

button:hover {
  background: #1d4ed8;
}

/* карточки */
.card {
  background: white;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

/* статусы */
.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
}

.lost {
  background: #ef4444;
}

.found {
  background: #22c55e;
}

.open {
  background: #f59e0b;
}

.resolved {
  background: #10b981;
}

/* TOAST DESIGN */

.toast-container .ngx-toastr {
  border-radius: 12px;
  padding: 16px 18px;
  font-size: 14px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.toast-success {
  background: linear-gradient(135deg, #10b981, #059669);
}

.toast-error {
  background: linear-gradient(135deg, #ef4444, #dc2626);
}

.toast-info {
  background: linear-gradient(135deg, #3b82f6, #2563eb);
}

.toast-warning {
  background: linear-gradient(135deg, #f59e0b, #d97706);
}

.toast-title {
  font-weight: 600;
}

.toast-message {
  opacity: 0.9;
}
